@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-light-color:hsl(0, 0%, 95%);
    --primary-dark-color:hsl(234, 12%, 34%);
    --primary-grayish-blue:hsl(229, 6%, 66%);
    --secondary-red:hsl(0, 78%, 62%);
    --secondary-cyan: hsl(180, 62%, 55%);
    --secondary-orange:hsl(34, 97%, 64%);
    --secondary-blue:hsl(212, 86%, 64%);
}
