@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-light-color:hsl(0, 0%, 95%);
    --primary-dark-color:hsl(234, 12%, 34%);
    --primary-grayish-blue:hsl(229, 6%, 66%);
    --secondary-red:hsl(0, 78%, 62%);
    --secondary-cyan: hsl(180, 62%, 55%);
    --secondary-orange:hsl(34, 97%, 64%);
    --secondary-blue:hsl(212, 86%, 64%);
}
body{
    background-color: var(--primary-light-color);
}
.wrapper{
    margin: 5em auto;
}
.card-section{
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}
.card-section h1{
    color: var(--primary-grayish-blue);
    font-weight: 400;
    margin-bottom: 0.8em;
}
.card-section h1>span{
    color: var(--primary-dark-color);
    font-weight: 600;
}
.card-section p{
    color: var(--primary-grayish-blue);
}
.card-wrapper{
    display: grid;
    grid-template-rows: 1fr;
    place-content: center;
    gap: 1.5em;
}
.card-wrapper-1,.card-wrapper-2,.card-wrapper-3{
    place-content: center;
}
.card-wrapper-2{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 1.5em;
}
.box{
    max-width: 90vw;
    height: max-content;
    background-color: white;
    border-radius: 7px;
}
.card-icon{
    display: flex;
    justify-content: end;
}




